#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
html {
    height: 100%;
}

body {
    margin: auto;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

.todo-list {
    max-width: 400px;
    margin: auto;
    margin-bottom: 20px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 2px solid white;
    backdrop-filter: blur(20px);
}


body{
    background-image: url("imganes/fondo2.jpg");
    background-size:100%;
    background-attachment: fixed;
}

/** TODO*/
.file-input {
    padding: 2px;
    background: #f8f8f8;
    border-radius: 8px;
}

    .file-input > .text {
        outline: none;
        padding: 0px 20px;
        font-size: 15px;
        width: 200px;
        height: 46px;
        background: transparent;
        border: 0px solid;
    }


.todo-text{
    color:white;
}

.todo-list {
    color: white;
    display: block;
}

.button-blue {
    background: transparent;
    border: 2px solid white;
    color: white;
    backdrop-filter: blur(20px);
}

.button-pink{
    background-color: transparent;
}
.button-pink:enabled{
    color: black;
}
.todo.new-item {
    inset:10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.titulo {
    background: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 8px;
    padding: 8px 16px;
    margin-bottom: 20px;
    backdrop-filter: blur(20px);
}

.text{
    color: black;
}


.login-text {
    padding: 0px 20px;
    font-size: 15px;
    width: 200px;
    height: 46px;
    background: white;
    color:gray;
    border: 1px solid white;
    border-radius: 8px;
    margin-bottom: 20px;

}

    .login-text:focus{
        color : blue;
    }

.todo {
    display: block;
}

.todo-text {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-top: 5px;
}

.todo-state:checked + .todo-text > span {
    text-decoration: line-through;
    color:gray;
}

.todo-state {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

